body{
    background-color: #393E46;
    font-family: 'Segoe UI', sans-serif;
}
.img-container{
    width: 200px;
    height: 200px;
    border: 2px solid #4ECCA3;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #4ECCA3;
}
img{
    display: none;
    width: 200px;
    height: 200px;
}
.container{
    width: 70%;
    margin: -1rem auto;
    text-align: center;
}
h1 {
    margin: 30px 30px 7% 30px ;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
}
p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
/* Inputs */
.form-group{
    display: flex;
    flex-direction: row;
}
input[type="file"]{
    margin: 7% 0 3% 0;
    width: 90%;
}
input[type="submit"]{
    width: 8rem;
    height: 2rem;
    background-color: #4ECCA3;
    border-radius: 1rem;
    outline: none;
    border: none;
    margin: 0 auto;
}
input[type="submit"]:hover{    
    cursor: pointer;
    background-color:  #4eb3cc;
}
input[type="text"]{
    text-transform: capitalize;
    border: none;
    outline: none;
    padding: 3%;
    font-size: 1rem;
    margin: .5rem 0;
}
.input-names{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    margin: 2rem auto;
}   