.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

input[type="button"]{
  width: 8rem;
  height: 2rem;
  background-color: #4ECCA3;
  border-radius: 1rem;
  outline: none;
  border: none;
}

input[type="button"]:hover{
  cursor: pointer;
}

.startBtn:hover{
  background-color:  #4eb3cc;
}

.infos:hover{
  background-color:  #c4cc4e;
}

.restartBtn:hover{
  background-color: #4cdf78;
}

input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}